# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
venv/



# Symlink to Salmar_2026 inside docs/
docs/Salmar_2026
