# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build output
_site/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
venv/

# MkDocs-staging (genereres av scripts/build_site.sh)
_docs/
